XML/XSD/cuenta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:simpleType name="numero_cuenta">
      <xs:restriction base="xs:string">
        <xs:length value="10"/>
      </xs:restriction>
  </xs:simpleType>  
  <xs:element name="cuenta">
    <xs:complexType>
      <xs:attribute name="numero" type="numero_cuenta" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
