XML/XSD/editores.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="editores">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="editor" type="xs:string"
                           minOccurs="1" maxOccurs="unbounded"/>
        <xs:element name="usuarios" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
